    <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Task Manager</a>
  <ul class="nav justify-content-center">
  <li class="nav-item">
<button type="button" class="btn btn-secondary" >Add Task</button>
  </li>
  </ul>
<ul class="nav justify-content-end">
  <li class="nav-item">
<button type="button" class="btn btn-secondary" >Log Out</button>
  </li>
</ul>
    </nav>
    <br>
    <br>

    <div class="card-deck">
  <div class="card">
          <div class="card-header text-center">
        <h4> To Do</h4>
      </div>
    <div class="card-body">
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
              <div class="card-header text-center">
        <h4> Ongoing</h4>
      </div>
    <div class="card-body">
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
              <div class="card-header text-center">
        <h4> Completed</h4>
      </div>
    <div class="card-body">
      <p class="card-text"></p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>